<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <nav>
        <ul>
          <li>
          </li>
        </ul>
      </nav>
      <div class="copyright d-flex flex-wrap">
        <span>&copy; <a href="https://www.linkedin.com/in/joel-figueiredo-1a6b48162/" target="_blank">Joel Figueiredo</a> and <a href="https://www.rubnogueira.com" target="_blank">Ruben Nogueira</a></span>
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style>
</style>
