<template>
  <div class="wrapper">
    <side-bar :userType="type">
      <template slot="links">
        <sidebar-link to="/dashboard" name="Dashboard" icon="ti-panel"/>
        
        <sidebar-link to="/income" v-if="type == 'Operator'" name="Income" icon="fa fa-user-plus"/>
        
        <sidebar-link to="/users" v-if="type == 'Administrator'" name="Users" icon="fa fa-users"/>

        <sidebar-link to="/create" v-if="type == 'Administrator'" name="Create Manager" icon="fa fa-user-plus"/>

        <sidebar-link to="/wallet" v-if="type == 'User'" name="My Wallet" icon="ti-view-list-alt"/>

        <sidebar-link to="/expense" v-if="type == 'User'" name="Expense" icon="fa fa-shopping-basket"/>

        <sidebar-link to="/stats" v-if="type == 'Administrator' || type == 'User'" name="Statistics" icon="ti-bar-chart"/>


      </template>
      <mobile-menu>
        <!--
        <li class="nav-item">
          <a class="nav-link">
            <i class="ti-panel"></i>
            <p>Stats</p>
          </a>
        </li>-->
        <!--<drop-down class="nav-item"
                   title="4 Notifications"
                   title-classes="nav-link"
                   icon="ti-bell">
          <a class="dropdown-item">Notification 1</a>
          <a class="dropdown-item">Notification 2</a>
          <a class="dropdown-item">Notification 3</a>
          <a class="dropdown-item">Notification 4</a>
          <a class="dropdown-item">Another notification</a>
        </drop-down>-->
        <drop-down class="nav-item"
                     :title="user"
                     title-classes="nav-link"
                     icon="ti-user">
                     <li class="dropdown-item" @click="profile"><i class="fa fa-user"></i> Profile</li>
                     <li class="dropdown-item" @click="logout"><i class="fa fa-sign-out"></i> Logout</li>
            </drop-down>
        <!--
        <li class="nav-item">
          <a class="nav-link">
            <i class="ti-settings"></i>
            <p>Settings</p>
          </a>
        </li>-->
        <li class="divider"></li>
      </mobile-menu>
    </side-bar>
    <div class="main-panel">
      <top-navbar :user="user"></top-navbar>

      <dashboard-content @click.native="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu
  },
  data: () => ({
    user: "",
    photo: "",
    type: ""
  }),
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(true);
      }
    },
    logout(){
      this.$socket.emit("user_exit", this.$store.state.user);
      this.$store.commit("clearSession");
      this.$router.push("/welcome")
    },
    profile(){
      this.$router.push("/profile");
    },
  },
  mounted(){
    this.$socket.emit("user_enter", this.$store.state.user);
    axios.get("/api/profile").then(response => {
      this.user = response.data.data.name;
      this.photo = response.data.data.photo;
      
      //only for dashboardlayout based

      if (response.data.data.type == "a"){
        this.type = "Administrator"
        if ( //forbidden paths to admin
          this.$router.currentRoute.path == "/income" ||
          this.$router.currentRoute.path == "/wallet" ||
          this.$router.currentRoute.path == "/expense" ||
          this.$router.currentRoute.path == "/movement" //edit movement
        )
        {
          this.$router.push("/dashboard");
        }
      }
      else if (response.data.data.type == "o"){
        this.type = "Operator"

        if ( //forbidden paths to operator
          this.$router.currentRoute.path == "/users" ||
          this.$router.currentRoute.path == "/create" ||
          this.$router.currentRoute.path == "/stats" ||
          this.$router.currentRoute.path == "/wallet" ||
          this.$router.currentRoute.path == "/expense" ||
          this.$router.currentRoute.path == "/movement" //edit movement
        )
        {
          this.$router.push("/dashboard");
        }
      }
      else{
        this.type = "User";

        if ( //forbidden paths to operator
          this.$router.currentRoute.path == "/income" ||
          this.$router.currentRoute.path == "/users" ||
          this.$router.currentRoute.path == "/create"
        )
        {
          this.$router.push("/dashboard");
        }
      }
    })
    .catch((error) => {
        //https://gist.github.com/fgilio/230ccd514e9381fafa51608fcf137253
        if (error.response) {
            this.logout();
        }
    });
  }
};
</script>
