<template>
  <div>
    <card class="card-user">
      <b-form>
        <div class="form-group">
          <label for="name-input">Name:</label>
          <b-form-input
            id="name-input"
            v-model="name"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your name"
            trim
          ></b-form-input>
        </div>
        <div class="form-group">
          <label for="email-input">Email:</label>
          <b-form-input
            id="email-input"
            v-model="email"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your email-address"
            autocomplete="email"
            trim
          ></b-form-input>
        </div>

        <div class="form-group">
          <label for="category">Type of User:</label>
          <b-form-group label>
            <b-form-radio v-model="type" name="a" value="a">Administrator</b-form-radio>
            <b-form-radio v-model="type" name="o" value="o">Operator</b-form-radio>
          </b-form-group>
        </div>

        <div class="mt-3 text-left">
          <label for="password-input">Password:</label>
          <b-form-input
            id="password-input"
            v-model="password"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Enter your password"
            autocomplete="password"
            type="password"
            trim
          ></b-form-input>
        </div>

        <div class="mt-3 text-left">
          <label for="confirm-password-input">Confirm Password:</label>
          <b-form-input
            id="confirm-password-input"
            v-model="repeat_new_password"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="Confirm your password"
            type="password"
            autocomplete="new-password"
            trim
          ></b-form-input>
        </div>

        <div class="mt-3 text-left">
          <label for="photo-input">Photo:</label>
          <b-form-file v-model="photo" accept="image/jpeg, image/png, image/gif"></b-form-file>
        </div>
        <div class="mt-4">
          <b-button type="submit" variant="primary" @click="submitted">Register</b-button>
        </div>
      </b-form>
    </card>
  </div>
</template>


<script>
export default {
  data: () => ({
    name: "",
    email: "",
    password: "",
    repeat_new_password: "",
    type: "",
    photo: null
  }),
  methods: {
    submitted() {
      const file = new Blob([this.photo]);
      const formData = new FormData();
      formData.append("email", this.email);
      formData.append("name", this.name);
      formData.append("password", this.password);
      formData.append("type", this.type);
      formData.append("repeat_new_password", this.repeat_new_password);
      if (this.photo){
        formData.append("photo", this.photo, this.photo.filename);
      }

      if (this.password != this.repeat_new_password){
        this.errorToast("The password doesn't match.");
        return;
      }

      axios({
        method: "post",
        url: "/api/create",
        data: formData,
        headers: {
          "content-type": `multipart/form-data; boundary=${formData._boundary}`
        }
      })
        .then(response => {
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted() {
    this.$sidebar.displaySidebar(false);
  }
};
</script>

<style lang="scss">
//.main-panel {
//  width: 100% !important;
//}
</style>