<template>
  <div>
    <card class="card-user text-center">
      <h1>Welcome to Virtual Wallet System</h1>
      <h3>Made for DAD Class!</h3>
    </card>
  </div>
</template>
<script>
export default {
};
</script>
<style>
</style>
