<template>
  <div>
    <card class="card-user">
      <div class="form-group">
        <label for="id">Movement ID:</label>
        <input type="text" id="id" class="form-control" v-model="id" disabled/>
      </div>
      <div class="form-group">
        <label for="type">Movement Type:</label>
        <input type="text" id="type" class="form-control" v-model="type" disabled/>
      </div>
      <div class="form-group">
        <label for="type">Value:</label>
        <input type="text" id="value" class="form-control" v-model="value" disabled/>
      </div>
      <div class="form-group">
        <label for="type">Date:</label>
        <input type="text" id="date" class="form-control" v-model="date" disabled/>
      </div>
      
      <div class="form-group">
        <label for="category">Category</label>
        <select id="categorySend" class="form-control" v-model="categorySend" selected>
          <option v-for="category in categories">{{ category }}</option>
          <option  selected="selected">{{categorySend}}</option>
        </select>
      </div>

      
  <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          id="description"
          rows="5"
          class="form-control"
          placeholder="Put Description here"
          v-model="description"
        >
        </textarea>
      </div>


      <button class="btn btn-primary" @click.prevent="submitted">Submit!</button>
    </card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      userData: {
       
      },
       email: "",
       type: "",
        value: "",
        id: "",
        iban: "",
        category: "",
        date: "",
        description: "",
      message: "Describe your review...",
      checkboxOptions: [],
      type: "",
      radioBoxOption: "",
      categorySend: "",
      categories: []
    };
  },
  props:["movimentId"],
  methods: {
    submitted() {
      let currentObj = this;
      axios
        .put("/api/movements/"+this.id+"/edit", {
          description: this.description,
          category: this.categorySend,

        })
        .then(response => {
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    Load(){
          let vm = this;      

        vm.$nextTick(function () {   
         //  
                // this.tosend= "movements/"+vm.movimentId+"/edit"; 
   //   this.movimentId = movimentId;
        axios
        .get("/api/movements/"+vm.movimentId+"/edit")
        .then(response => {
            this.value =response.data.data.value;
            this.id =response.data.data.id;
           // this.type =response.data.data.type;
            this.date =response.data.data.date;
            if(response.data.data.type == "i"){
              this.type = "Income";
              this.type_l = "i";
            }else if(response.data.data.type == "e"){
              this.type = "Expense";
              this.type_l= "e";
            }
            this.categorySend =response.data.data.category_id;
            this.description =response.data.data.description;

            //É ADIcIONAR AQUI MAIS VALORES! 
     
         /*   this.categories = []
            response.data.data.forEach(element => {
                if (element.type == "i"){
                    this.categories.push(element.name);
                }
            });*/
           this.categoriesLoad();
        })

        .catch(error => {
          this.errorToast(error);
        });
        });

    },
        categoriesLoad() {
      axios
        .get("/api/categories")
        .then(response => {
          this.categories = [];
          response.data.data.forEach(element => {
            if ((element.type == this.type_l && element.name != this.categorySend)) {
              this.categories.push(element.name);
            }
          }
          );
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){


      this.Load();

       
  }
};
</script>