<template>
  <div>
    <card class="card-user">
      <div class="text-center">
        <h4>My Balance: {{this.my_balance}}€ <small v-if="this.my_email">({{this.my_email}})</small></h4>
      </div>
      <div class="form-group">
        <label for="category">Expense type:</label>
        <b-form-group label>
          <b-form-radio v-model="expenseType" name="payment" value="0">Payment External Entity</b-form-radio>
          <b-form-radio v-model="expenseType" name="transfer" value="1">Transfer</b-form-radio>
        </b-form-group>
      </div>

      <div class="form-group" v-if="expenseType == '0' ">
        <label for="category">Type of Payment:</label>
        <b-form-group label>
          <b-form-radio v-model="typePayment" name="bt" value="bt">Bank Transfer</b-form-radio>
          <b-form-radio v-model="typePayment" name="mb" value="mb">MB</b-form-radio>
        </b-form-group>
      </div>

      <div class="form-group" v-if="expenseType == '1' ">
        <div class="form-group">
          <label for="email">Email of the Wallet:</label>
          <input type="text" id="email" class="form-control" v-model="email" />
        </div>

        <div class="form-group">
          <label for="source_description">Source Description:</label>
          <textarea
            id="source_description"
            rows="5"
            class="form-control"
            placeholder="Insert the Source Description here"
            v-model="source_description"
          ></textarea>
        </div>
      </div>

      <div class="form-group" v-if="typePayment == 'bt' ">
        <label for="iban">IBAN:</label>
        <input type="text" id="iban" class="form-control" v-model="iban" />
      </div>
      <div class="form-group" v-if="typePayment == 'mb' && expenseType == '0'">
        <label for="mb_entity_code">MB Code:</label>
        <input type="text" id="mb_entity_code" class="form-control" v-model="mb_entity_code" />

        <label for="mb_payment_reference">MB Reference:</label>
        <input
          type="text"
          id="mb_payment_reference"
          class="form-control"
          v-model="mb_payment_reference"
        />
      </div>

      <hr class="mb-2 mt-2" />

      <div class="form-group">
        <label for="satisfaction">Value:</label>
        <input
          min="1"
          max="5000"
          type="number"
          id="satisfaction"
          class="form-control"
          v-model.number="value"
        />
      </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <select id="categorySend" class="form-control" v-model="categorySend">
          <option v-for="category in categories">{{ category }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          id="description"
          rows="5"
          class="form-control"
          placeholder="Put Description here"
          v-model="description"
        >
        </textarea>
      </div>
      <button class="btn btn-primary" @click.prevent="submitted">Submit!</button>
    </card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      my_email: "",
      my_balance: "0.00",
      email: "",
      value: "",
      iban: "",
      type: "e",
      description: "",
      source_description: "",
      checkboxOptions: [],
      radioBoxOption: "",
      expenseType: "",
      categorySend: "",
      typePayment: "",
      mb_entity_code: "",
      mb_payment_reference: "",
      categories: []
    };
  },
  methods: {
    submitted() {
      let currentObj = this;
      axios
        .post("/api/movements", {
          transfer_wallet_id: this.email,
          type: this.type,
          value: this.value,
          type_payment: this.radioBoxOption,
          iban: this.iban,
          category: this.categorySend,
          description: this.description,
          source_description: this.source_description,
          transfer: this.expenseType,
          type_payment: this.typePayment,
          mb_entity_code: this.mb_entity_code,
          mb_payment_reference: this.mb_payment_reference
        })
        .then(response => {
          this.successToast(response.data.msg);
          if (this.expenseType == '1' && this.email){
            this.$socket.emit('operation', this.$store.state.user, this.email);
          }
          this.balance();
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    categoriesLoad() {
      axios
        .get("/api/categories")
        .then(response => {
          this.categories = [];
          response.data.data.forEach(element => {
            if (element.type == "e") {
              this.categories.push(element.name);
            }
          });
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    balance(){
      axios
        .get("/api/wallet/balance")
        .then(response => {
          this.my_balance = response.data.balance;
          this.my_email = response.data.email;
        })
        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){
    this.balance();
    this.categoriesLoad();
  },
  sockets: {
      operation(dataFromServer) {
        this.balance();
      },
  },
};
</script>