<template>
  <div>
    <card class="card-user">
      <div class="form-group">
        <label for="email">Email of the Wallet:</label>
        <input type="text" id="email" class="form-control" v-model="userData.email" placeholder="Insert the Wallet Email" />
      </div>
      <div class="form-group">
        <label for="satisfaction">Value:</label>
        <input
          min="1"
          max="5000"
          type="number"
          id="satisfaction"
          class="form-control"
          v-model.number="userData.value" placeholder="Insert Value"
        />
      </div>
      <div class="form-group">
        <label for="category">Income type:</label>
        <b-form-group label>
          <b-form-radio v-model="radioBoxOption" name="bt" value="bt">Bank Transfer</b-form-radio>
          <b-form-radio v-model="radioBoxOption" name="c" value="c">Cash</b-form-radio>
        </b-form-group>
      </div>

      <div class="form-group" v-if="radioBoxOption == 'bt'">
        <label for="iban">IBAN:</label>
        <input type="text" id="iban" class="form-control" placeholder="Insert IBAN" v-model="userData.iban" />
      </div>
      <div class="form-group">
        <label for="category">Category (Optional)</label>

        <select id="categorySend" class="form-control" v-model="categorySend">
          <option v-for="category in categories">{{ category }}</option>
        </select>
      </div>
      <button class="btn btn-primary" @click.prevent="submitted">Submit!</button>
    </card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      userData: {
        email: "",
        value: "",
        iban: "",
        value: ""
      },
      message: "Describe your review...",
      checkboxOptions: [],
      type: "i",
      radioBoxOption: "",
      categorySend: "",
      categories: []
    };
  },
  methods: {
    submitted() {
      let currentObj = this;
      axios
        .post("/api/movements", {
          email: this.userData.email,
          type: this.type,
          value: this.userData.value,
          type_payment: this.radioBoxOption,
          iban: this.userData.iban,
          category: this.categorySend
        })
        .then(response => {
          this.successToast(response.data.msg);
          this.$socket.emit('operation', this.$store.state.user, this.userData.email);
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    categoriesLoad(){
        axios
        .get("/api/categories")
        .then(response => {
            this.categories = []
            response.data.data.forEach(element => {
                if (element.type == "i"){
                    this.categories.push(element.name);
                }
            });
          
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){
      this.categoriesLoad();
  }
};
</script>