<template>
  <div class="wrapper">
    <div class="login-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row align-right mb-2">
            <div class="col-9">
              <router-link to="/" class="h4">Virtual Wallet</router-link>
            </div>
            <div class="col-3" style="text-align: right">
              <router-link to="/login" class="h5"><i class="fa fa-user-circle"></i> Login</router-link>
              <router-link to="/register" class="h5 ml-3"><i class="fa fa-user-plus"></i> Register</router-link>
            </div>
          </div>
            <transition name="fade" mode="out-in">
              <div class="row">
                <div class="col-md-2 col-xl-3">
                </div>
                <div class="col-md-8 col-xl-6">
                  <b-card title="Login" align="center">
                    <b-form @submit="formSubmit">
                      <div class="mt-3 text-left">
                        <label for="email-input">Email:</label>
                        <b-form-input
                          id="email-input"
                          v-model="email"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your email-address"
                          autocomplete="email"
                          trim
                        ></b-form-input>
                      </div>

                      <div class="mt-3 text-left">
                        <label for="password-input">Password:</label>
                        <b-form-input
                          id="password-input"
                          v-model="password"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your password"
                          type="password"
                          autocomplete="current-password"
                          trim
                        ></b-form-input>
                      </div>

                      <div class="mt-4">
                        <label class=" text-center">Don't have an account? Click <router-link to="/register">here</router-link> to register.</label>
                      </div>

                      <div class="pull-right mt-4">
                        <b-button type="submit" variant="primary">Login</b-button>
                        <b-button variant="warning" @click="recover">Recover Password</b-button>
                      </div>
                    </b-form>
                  </b-card>
                </div>
              </div>

            </transition>
        </div>
      </div>

      <content-footer></content-footer>
    </div>
  </div>
</template>


<script>

import ContentFooter from "../layout/dashboard/ContentFooter.vue";

export default {
  components: {
    ContentFooter,
  },
  data: () => ({
    wallets: "",
    email: "",
    password: ""
  }),
  methods: {
    formSubmit(e) {
        e.preventDefault();
        let currentObj = this;
        axios.post('/api/login', {
            email: this.email,
            password: this.password
        })
        .then(response => {
          this.$store.commit("setToken", response.data.access_token);
          this.$store.commit("setUser", this.email);
          this.$store.commit("setId", response.data.id);
          //this.$store.commit("loadSession");
          this.$router.push('/');
        })
        
        .catch(error => {
          this.errorToast(error);
        });
    },
    recover(){
      this.$router.push("/recover");
    }
  },
  mounted(){
    this.$sidebar.displaySidebar(false);
  }
};
</script>

<style lang="scss">
    //.main-panel {
    //  width: 100% !important;
    //}
</style>