<template>
  <div class="wrapper">
    <div class="login-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row align-right mb-2">
            <div class="col-9">
              <router-link to="/" class="h4">Virtual Wallet</router-link>
            </div>
            <div class="col-3" style="text-align: right">
              <router-link to="/login" class="h5"><i class="fa fa-user-circle"></i> Login</router-link>
              <router-link to="/register" class="h5 ml-3"><i class="fa fa-user-plus"></i> Register</router-link>
            </div>
          </div>
            <transition name="fade" mode="out-in">
              <div class="row">
                <div class="col-md-2 col-xl-3">
                </div>
                <div class="col-md-8 col-xl-6">
                  <b-card title="Recover" align="center">
                    <b-form @submit="formSubmit">
                      <div class="mt-3 text-left">
                        <label for="email-input">Email:</label>
                        <b-form-input
                          id="email-input"
                          v-model="email"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your email-address"
                          trim
                        ></b-form-input>
                      </div>
                      <div class="pull-right mt-4">
                        <b-button type="submit" variant="primary">Recover Password</b-button>
                      </div>
                    </b-form>
                  </b-card>
                </div>
              </div>

            </transition>
        </div>
      </div>

      <content-footer></content-footer>
    </div>
  </div>
</template>


<script>

import ContentFooter from "../layout/dashboard/ContentFooter.vue";

export default {
  components: {
    ContentFooter,
  },
  data: () => ({
    email: "",
  }),
  methods: {
      formSubmit(e) {
        e.preventDefault();
        let currentObj = this;
        axios.post('/api/recovers', {
            email: this.email,
        })
        .then(response => {
          this.successToast(response.data.msg);
        })
        
        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){
    this.$sidebar.displaySidebar(false);
  }
};
</script>

<style lang="scss">
    //.main-panel {
    //  width: 100% !important;
    //}
</style>