<template>
  <div class="wrapper">
    <div class="login-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row align-right mb-2">
            <div class="col-9">
              <router-link to="/" class="h4">Virtual Wallet</router-link>
            </div>
            <div class="col-3" style="text-align: right">
              <router-link to="/login" class="h5"><i class="fa fa-user-circle"></i> Login</router-link>
              <router-link to="/register" class="h5 ml-3"><i class="fa fa-user-plus"></i> Register</router-link>
            </div>
          </div>
            <transition name="fade" mode="out-in">
              <div class="row">
                <div class="col-md-2 col-xl-3">
                </div>
                <div class="col-md-8 col-xl-6">
                  <b-card title="Register" align="center">
                    <b-form @submit="formSubmit">
                      <div class="mt-3 text-left">
                        <label for="name-input">Name:</label>
                        <b-form-input
                          id="name-input"
                          v-model="name"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your name"
                          trim
                        ></b-form-input>
                      </div>

    <div class="mt-3 text-left">
                        <label for="nif-input">NIF:</label>
                        <b-form-input
                          id="nif-input"
                          v-model="nif"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your NIF"
                          trim
                        ></b-form-input>
                      </div>
                      <div class="mt-3 text-left">
                        <label for="email-input">Email:</label>
                        <b-form-input
                          id="email-input"
                          v-model="email"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your email-address"
                          autocomplete="email"
                          trim
                        ></b-form-input>
                      </div>

                      <div class="mt-3 text-left">
                        <label for="password-input">Password:</label>
                        <b-form-input
                          id="password-input"
                          v-model="password"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Enter your password"
                          type="password"
                          autocomplete="password"
                          trim
                        ></b-form-input>
                      </div>

                      <div class="mt-3 text-left">
                        <label for="confirm-password-input">Confirm Password:</label>
                        <b-form-input
                          id="confirm-password-input"
                          v-model="repeat_new_password"
                          aria-describedby="input-live-help input-live-feedback"
                          placeholder="Confirm your password"
                          type="password"
                          autocomplete="current-password"
                          trim
                        ></b-form-input>
                      </div>

                      <div class="mt-3 text-left">
                        <label for="photo-input">Photo:</label>
                        <b-form-file v-model="photo" accept="image/jpeg, image/png, image/gif"></b-form-file>
                      </div>

                      <div class="pull-right mt-4">
                        <b-button type="submit" variant="primary">Register</b-button>
                      </div>
                    </b-form>
                  </b-card>
                </div>
              </div>

            </transition>
        </div>
      </div>

      <content-footer></content-footer>
    </div>
  </div>
</template>


<script>

import ContentFooter from "../layout/dashboard/ContentFooter.vue";

export default {
  components: {
    ContentFooter,
  },
  data: () => ({
    name: "",
    email: "",
    password: "",
    repeat_new_password: "",
    nif: "",
    photo: null
  }),
  methods: {
    formSubmit(e) {
        e.preventDefault();
        let currentObj = this;

        if (this.password != this.repeat_new_password){
          this.errorToast("The password doesn't match.");
          return;
        }

        const file = new Blob([this.photo]);

        const formData = new FormData();
        formData.append('email', this.email);
        formData.append('name', this.name);
        formData.append('password', this.password);
        formData.append('repeat_new_password', this.repeat_new_password);
        formData.append('nif', this.nif);
        if (this.photo){
          formData.append('photo', this.photo, this.photo.filename);
        }

        axios({
          method: 'post',
          url: '/api/register',
          data: formData,
          headers: {
            'content-type': `multipart/form-data; boundary=${formData._boundary}`,
          }})
        .then(response => {
          this.successToast(response.data.msg);
          this.$store.commit("setToken", response.data.access_token);
          this.$store.commit("setUser", this.email);
          this.$store.commit("setId", response.data.id);
          //this.$store.commit("loadSession");
          this.$router.push('/');
        })
        
        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){
    this.$sidebar.displaySidebar(false);
  }
};
</script>

<style lang="scss">
    //.main-panel {
    //  width: 100% !important;
    //}
</style>