<template>
  <card class="card-user text-center">
    <h3 v-if="!isLoaded">Loading...</h3>
    <h3 v-if="wallet">Number of Wallets: {{wallet}}</h3>
    <div v-if="isLoaded">
      <h3>Movements by Categories:</h3>
      <BarChart :stats="stats" :categories="categories"/>
      <h3>Wallet Income/Expanse Ratio:</h3>
      <PieChart :stats="stats"/>
      <h3>Type of Payment:</h3>
      <PieCharttype :stats="stats"/>
    </div>
  </card>
</template>
<script>
//import { StatsCard, ChartCard } from "../components/index";
//import Chartist from 'chartist';
import PieChart from "../components/charts/PieChart.vue";
import BarChart from "../components/charts/BarChart.vue";
import PieCharttype from "../components/charts/PieCharttype.vue";
export default {
  components: {
    //StatsCard,
    PieChart,
    BarChart,
    PieCharttype
    // ChartCard
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      wallet: "",
      isLoaded: false,
      stats: {},
      categories: []
    };
  },
  methods: {
    getData() {
      axios
        .get("/api/statistics")
        .then(response => {
          this.stats = response.data.data;

          axios
          .get("/api/categories")
          .then(response => {
            this.categories = response.data.data;
            this.isLoaded = !this.isLoaded;
          })
        })
    },
    loadWallets() {
      axios
        .get("/api/wallets")
        .then(response => {
          this.wallet = response.data.wallets;
        })
    }
  },
  beforeMount() {
    this.getData();

    axios.get("/api/profile").then(response => {
      if (response.data.data.type == "a"){
        this.loadWallets();
      }
    });
  }
};
</script>
<style>
</style>
