<template>
  <div>
    <div class="form-group">
      <label for="email">Email of the Wallet:</label>
      <input type="text" id="email" class="form-control" v-model="userData.email" />
    </div>
    <div class="form-group">
      <label for="satisfaction">The Value:</label>
      <input
        min="1"
        max="5000"
        type="number"
        id="satisfaction"
        class="form-control"
        v-model.number="userData.value"
      />
    </div>
    <label for="cash">
      <input type="radio" id="c" value="c" v-model="radioBoxOption" /> Cash
    </label>
    <label for="bt">
      <input type="radio" id="bt" value="bt" v-model="radioBoxOption" /> Bank Transfer
    </label>

    <div class="form-group" v-if="radioBoxOption == 'bt' ">
      <label for="iban">IBAN:</label>
      <input type="text" id="iban" class="form-control" v-model="userData.iban" />
    </div>
    <div class="row">
      <label for="category">Categoria</label>

      <select id="categorySend" class="form-control" v-model="categorySend">
        <option v-for="category in categoris">{{ category }}</option>
      </select>
    </div>
    <div class="row">
      <button class="btn btn-primary" @click.prevent="submitted">Submit!</button>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      userData: {
        email: "",
        password: "",
        value: "",
        iban: "",
        value: ""
        // categorySend: '',
      },
      message: "Describe your review...",
      checkboxOptions: [],
      radioBoxOption: "",
      categorySend: "",
      categoris: [
        "salary",
        "bonus",
        "royalties",
        "interests",
        "gifts",
        "dividends",
        "sales",
        "loan repayment",
        "loan",
        "other income"
      ]
    };
  },
  methods: {
    submitted() {
      let currentObj = this;
      axios
        .post("/api/movements", {
          email: this.userData.email,
          value: this.userData.value,
          type_payment: this.radioBoxOption,
          iban: this.userData.iban,
          category: this.categorySend
        })
        .then(response => {
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  }
};
</script>