<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="col-12">
          <b-card no-body class="mb-3">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block href="#" v-b-toggle.accordion-1 class="text-left" variant="primary"><i class="fa fa-search"></i> Filters</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <div class="form-group">
                  <label for="satisfaction">Name:</label>
                  <input
                    type="text"
                    id="satisfaction"
                    class="form-control"
                    v-model.number="name_filter"
                    placeholder="Insert Name"
                  />
                </div>
                <div class="form-group">
                  <label for="satisfaction">Email:</label>
                  <input
                    type="text"
                    id="satisfaction"
                    class="form-control"
                    v-model.number="email_filter"
                    placeholder="Insert Email"
                  />
                </div>
                <div class="form-group">
                  <label for="category">Type:</label>
                  <b-form-group label>
                    <b-form-radio v-model="typeradioBoxOption" name="Operator" value="o">Operator</b-form-radio>
                    <b-form-radio
                      v-model="typeradioBoxOption"
                      name="Admnistrator"
                      value="a"
                    >Admnistrator</b-form-radio>
                    <b-form-radio v-model="typeradioBoxOption" name="wallet" value="u">Wallet User</b-form-radio>
                    <b-form-radio v-model="typeradioBoxOption" name="alltype" value="all">All</b-form-radio>
                  </b-form-group>
                </div>

                <div class="form-group">
                  <label for="type">Status:(wallet users)</label>
                  <b-form-group label>
                    <b-form-radio v-model="activeradioBoxOption" name="Expense" value="1">Active</b-form-radio>
                    <b-form-radio v-model="activeradioBoxOption" name="Inactice" value="0">Inactice</b-form-radio>
                    <b-form-radio v-model="activeradioBoxOption" name="all" value="all">All</b-form-radio>
                  </b-form-group>
                </div>

                <button class="btn btn-primary" @click.prevent="filter">Filter!</button>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
        <div slot="raw-content" class="table-responsive">
          <!--<paper-table :data="laravelData.data" :columns="laravelData.id"></paper-table>-->
          <b-table
            ref="walletTable"
            striped
            hover
            :items="walletData"
            :fields="fields"
            @row-selected="onRowSelected"
          >
            <template v-slot:cell(plus)="data">
              <b-button
                @click="remove( data.item.id)"
                pill
                v-bind:id="data.item.id"
                class="mr-2"
                variant="danger"
                size="sm"
                v-if="data.item.balance == 'No Wallet' "
              >
                <i v-if="data.item.balance == 'No Wallet'" class>Delete</i>
                <i v-else-if="data.item.balance == 'Empty' && data.item.Active == 1 " class>Disable</i>
              </b-button>

              <b-button
                @click="remove(data.item.id)"
                v-bind:id="data.item.id"
                pill
                class="mr-1"
                variant="warning"
                size="sm"
                v-if="data.item.balance == 'Empty' && data.item.active"
              >
                <i class="tes">Disable</i>
              </b-button>

              <b-button
                @click="remove(data.item.id)"
                pill
                v-bind:id="data.item.id"
                class="mr-1"
                variant="success"
                size="sm"
                v-if="data.item.balance == 'Empty' && !data.item.active"
              >
                <i class="tes">Enable</i>
              </b-button>
              <b-button
                @click="makeToast(data.item.id) "
                v-bind:id="data.item.id"
                pill
                class="mr-2"
                variant="info"
                size="sm"
                v-if="data.item.balance == 'Has Money' "
              >
                <i class>Has Money!</i>
              </b-button>
            </template>

            <template v-slot:cell(plus_photo)="data">
              <img
                class="avatar border-white"
                :src="data.item.photo"
                alt="..."
                v-if="data.item.photo != null "
              />
            </template>
          </b-table>
          <!-- <ul>
            <li v-for="post in laravelData.data" :key="post.id">{{ post.id }}</li>
          </ul>-->

          <pagination
            class="mr-4"
            :data="walletPagination"
            :limit="5"
            align="right"
            :show-disabled="true"
            @pagination-change-page="wallet"
          ></pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: "",
      typeradioBoxOption: "",
      name_filter: "",
      email_filter: "",
      activeradioBoxOption: "",
      fields: [
        {
          key: "plus",
          label: "",
          small: true
        },
        {
          key: "plus_photo",
          label: "Photo",
          small: true
        },
        {
          key: "id",
          label: "ID"
        },
        "type",
        "name",
        "email",
        "balance",
        "active"
      ],
      balance: "0.00",
      walletData: [],
      walletPagination: {}
    };
  },
  methods: {
    makeToast(id) {
      this.id = id;
      this.$bvToast.toast(
        "The current user with ID:  " + this.id + " Has money in his wallet!",
        {
          title: "Has Money",
          variant: "warning",
          autoHideDelay: 5000
        }
      );
    },
    remove(id) {
      this.id = id;
      this.todelete = "/api/delete/".concat(this.id);

      axios
        .delete(this.todelete, {})
        .then(response => {
          this.wallet(this.walletPagination.current_page);
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    filter() {
      if (this.typeradioBoxOption == "all") {
        this.typeradioBoxOption = null;
      }
      if (this.activeradioBoxOption == "all") {
        this.activeradioBoxOption = null;
      }
      let currentObj = this;
      axios
        .post("/api/users/list?page=1", {
          type: this.typeradioBoxOption,
          name: this.name_filter,
          email: this.email_filter,
          active: this.activeradioBoxOption
        })
        .then(response => {
          /* this.type = response.data.data.type;
           this.name = response.data.data.name;
              this.photo = response.data.data.photo;
          this.email = response.data.data.email;
           this.balance = response.data.data.balance;
          this.active = response.data.data.active;*/
          this.walletPagination = response.data.meta;
          this.walletData = response.data.data;
        })

        .catch(error => {
          this.errorToast(error);
        });
    },

    wallet(page = 1) {
      axios
        .post("/api/users/list?page=" + page)
        .then(response => {
          /* this.type = response.data.data.type;
           this.name = response.data.data.name;
              this.photo = response.data.data.photo;
          this.email = response.data.data.email;
           this.balance = response.data.data.balance;
          this.active = response.data.data.active;*/
          this.walletPagination = response.data.meta;
          this.walletData = response.data.data;
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    onRowSelected(items) {
      this.$refs.walletTable.clearSelected();
    }
  },
  mounted() {
    this.wallet();
  }
};
</script>
<style>
</style>
