<template>
    <div class="row">
      <div class="col-xl-3 col-lg-5 col-md-6">
        <user-card :name.sync="name" :email="email" :photo.sync="photo">

        </user-card>
      </div>
      <div class="col-xl-9 col-lg-7 col-md-6" v-if="name">
        <edit-profile-form :name.sync="name" :hasNif="hasNif" :nif="nif">

        </edit-profile-form>
      </div>
    </div>
</template>
<script>
import EditProfileForm from "./UserProfile/EditProfileForm.vue";
import UserCard from "./UserProfile/UserCard.vue";
import MembersCard from "./UserProfile/MembersCard.vue";
export default {
  data() {
    return {
      hasNif: false,
      name: "",
      email: "",
      nif: "",
      photo: "",
    };
  },
  components: {
    EditProfileForm,
    UserCard,
    MembersCard
  },
  methods: {
    fill() {
      axios
        .get("/api/profile")
        .then(response => {
          if (response.data.data.type == "u"){
            this.hasNif = true;
          }
          this.photo = response.data.data.photo;
          this.name = response.data.data.name;
          this.email = response.data.data.email;
          this.nif = response.data.data.nif;
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted(){
    this.fill();
  }
};
</script>
<style>
</style>
