<template>
  <div class="row">
    <div class="col-12">
      <card>
        <div class="col-12">
          <div class="h2 text-center">
            <p>
              Balance
              <small v-if="this.email">({{this.email}})</small>
            </p>
            {{this.balance}}€
          </div>
        </div>

        <b-card no-body class="mb-3">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-1 class="text-left" variant="primary">
              <i class="fa fa-search"></i> Filters
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <div class="form-group">
                <label for="satisfaction">ID:</label>
                <input
                  type="number"
                  id="satisfaction"
                  class="form-control"
                  v-model.number="id_filter"
                  placeholder="Insert Value"
                />
              </div>
              <div class="form-group">
                <label for="category">Type:</label>
                <b-form-group label>
                  <b-form-radio v-model="typeradioBoxOption" name="e" value="e">Expense</b-form-radio>
                  <b-form-radio v-model="typeradioBoxOption" name="i" value="i">Income</b-form-radio>
                  <b-form-radio v-model="typeradioBoxOption" name="all" value="all">All</b-form-radio>
                </b-form-group>

                <label for="category">Type of payment:</label>
                <b-form-group label>
                  <b-form-radio
                    v-model="type_paymentradioBoxOption"
                    name="bt"
                    value="bt"
                  >Bank Transfer</b-form-radio>
                  <b-form-radio v-model="type_paymentradioBoxOption" name="c" value="c">Cash</b-form-radio>
                  <b-form-radio v-model="type_paymentradioBoxOption" name="mb" value="mb">MB</b-form-radio>
                  <b-form-radio v-model="type_paymentradioBoxOption" name="all" value="all">All</b-form-radio>
                </b-form-group>
              </div>

              <div class="form-group">
                <label for="category">Category (Optional)</label>

                <select id="categorySend" class="form-control" v-model="categorySend">
                  <option v-for="category in categories">{{ category }}</option>
                </select>

                <label for="data">Date Betwen:</label>
                <input
                  type="text"
                  id="dataInit"
                  class="form-control"
                  v-model="dataInit"
                  placeholder="Initial: example 1/1/2018 "
                />

                <input
                  type="text"
                  id="dataEnd"
                  class="form-control"
                  v-model.data="dataEnd"
                  placeholder="Final: example 12/12/2018 "
                />
              </div>

              <button class="btn btn-primary" @click.prevent="filter">Filter!</button>
            </b-card-body>
          </b-collapse>
        </b-card>

        <div slot="raw-content" class="table-responsive">
          <!--<paper-table :data="laravelData.data" :columns="laravelData.id"></paper-table>-->
          <b-table
            ref="walletTable"
            striped
            hover
            :items="walletData"
            :fields="fields"
            @row-selected="onRowSelected"
          >
            <template v-slot:cell(plus)="data">
              <b-button @click="data.toggleDetails" class="mr-2" variant="link">
                <i v-if="data.detailsShowing" class="fa fa-minus-square fa-2x"></i>
                <i v-else class="fa fa-plus-square fa-2x"></i>
              </b-button>
            </template>
            <template v-slot:cell(edit)="data">
              <b-button
                @click="editmov(data.item.id)"
                pill
                v-bind:id="data.item.id"
                class="small"
                variant="warning"
                size="sm"
              >
                <i class="tes">Edit</i>
              </b-button>
            </template>
            <template v-slot:cell(start_balance)="data">{{ data.value }} €</template>

            <template v-slot:cell(end_balance)="data">{{ data.value }} €</template>

            <template v-slot:cell(value)="data">
              <span class="text-success" v-if="data.item.type == 'Income'">+ {{ data.value }} €</span>

              <span class="text-danger" v-if="data.item.type == 'Expense'">- {{ data.value }} €</span>
            </template>

            <!-- details-->
            <template v-slot:row-details="data">
              <b-row class="mb-2" v-if="!(data.item.description || data.item.source_description || data.item.iban || data.item.mb_entity_code || data.item.mb_payment_reference || data.item.photo)">
                <b-col sm="3">
                  <b>No details</b>
                </b-col>
              </b-row>
              <b-row class="mb-2" v-if="data.item.description">
                <b-col sm="3">
                  <b>Description:</b>
                </b-col>
                <b-col sm="9">{{ data.item.description }}</b-col>
              </b-row>

              <b-row class="mb-2" v-if="data.item.source_description">
                <b-col sm="3">
                  <b>Source Description:</b>
                </b-col>
                <b-col sm="9">{{ data.item.source_description }}</b-col>
              </b-row>

              <b-row class="mb-2" v-if="data.item.iban">
                <b-col sm="3">
                  <b>IBAN:</b>
                </b-col>
                <b-col sm="9">{{ data.item.iban }}</b-col>
              </b-row>

              <b-row class="mb-2" v-if="data.item.mb_entity_code">
                <b-col sm="3">
                  <b>MB Entity Code:</b>
                </b-col>
                <b-col sm="9">{{ data.item.mb_entity_code }}</b-col>
              </b-row>

              <b-row class="mb-2" v-if="data.item.mb_payment_reference">
                <b-col sm="3">
                  <b>MB Payment Reference:</b>
                </b-col>
                <b-col sm="9">{{ data.item.mb_payment_reference }}</b-col>
              </b-row>

              <b-row class="mb-2" v-if="data.item.photo">
                <b-col sm="3">
                  <b>Photo:</b>
                </b-col>
                <img
                  class="avatar border-white"
                  :src="data.item.photo"
                  alt="..."
                  v-if="data.item.photo != null "
                />
              </b-row>
            </template>
          </b-table>
          <!-- <ul>
            <li v-for="post in laravelData.data" :key="post.id">{{ post.id }}</li>
          </ul>-->

          <pagination
            class="mr-4"
            :data="walletPagination"
            :limit="5"
            align="right"
            :show-disabled="true"
            @pagination-change-page="wallet"
          ></pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      movid: "teste",
      id_filter: "",
      typeradioBoxOption: "",
      type_paymentradioBoxOption: "",
      categorySend: "",
      dataInit: "",
      dataEnd: "",
      email: "",
      fields: [
        {
          key: "plus",
          label: "More Info",
          small: true
        },
        {
          key: "edit",
          label: "Edit",
          small: true
        },
        {
          key: "id",
          label: "ID"
        },
        "type",
        "type_payment",
        "transfer e-mail",
        "category",
        "date",
        "start_balance",
        "end_balance",
        "value"
      ],
      balance: "0.00",
      walletData: [],
      walletPagination: {},
      categories: []
    };
  },
  methods: {
    filter() {
      if (this.type_paymentradioBoxOption == "all") {
        this.type_paymentradioBoxOption = null;
      }
      if (this.typeradioBoxOption == "all") {
        this.typeradioBoxOption = null;
      }
      let currentObj = this;
      axios
        .post("/api/wallet", {
          id: this.id_filter,
          type: this.typeradioBoxOption,
          type_payment: this.type_paymentradioBoxOption,
          category_id: this.categorySend,
          dataInit: this.dataInit,
          dataEnd: this.dataEnd
        })
        .then(response => {
          this.walletPagination = response.data.meta;
          this.walletData = response.data.data;
          // this.walletData = response.data.data.movements;
          this.balanceMail();
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    editmov(movid) {
      this.movid = movid;
      this.$router.push({
        name: "Edit Movement",
        params: { movimentId: this.movid }
      });
    },
    wallet(page = 1) {
      axios
        .post("/api/wallet?page=" + page)
        .then(response => {
          // this.balance = response.data.data.balance;
          //this.email = response.data.data.email;

          this.walletPagination = response.data.meta;
          this.walletData = response.data.data;
          this.balanceMail();
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    categoriesLoad() {
      axios
        .get("/api/categories")
        .then(response => {
          this.categories = [];
          response.data.data.forEach(element => {
            //    if ((element.type == this.type_l && element.name != this.categorySend)) {

            this.categories.push(element.name);

            //  }
          });
        })

        .catch(error => {
          this.errorToast(error);
        });
    },

    balanceMail() {
      axios
        .get("/api/wallet/balance")
        .then(response => {
          this.balance = response.data.balance;
          this.email = response.data.email;
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    onRowSelected(items) {
      this.$refs.walletTable.clearSelected();
    }
  },
  mounted() {
    this.balanceMail();
    this.wallet();
    this.categoriesLoad();
  },
  sockets: {
    operation(dataFromServer) {
      this.balanceMail();
      this.wallet();
      this.successToast("Wallet updated!");
    }
  }
};
</script>
<style>
</style>
