<template>
  <div class="wrapper">
    <div class="login-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row align-right mb-2">
            <div class="col-9">
              <router-link to="/" class="h4">Virtual Wallet</router-link>
            </div>
            <div class="col-3" style="text-align: right">
              <router-link to="/login" class="h5"><i class="fa fa-user-circle"></i> Login</router-link>
              <router-link to="/register" class="h5 ml-3"><i class="fa fa-user-plus"></i> Register</router-link>
            </div>
          </div>
          <transition name="fade" mode="out-in">
            <div class="row">
              <div class="col-md-2 col-xl-3"></div>
              <div class="col-md-8 col-xl-6">
                <b-card title align="center">
                  <h3>Welcome to Virtual Wallet System.</h3>

                  <h5>Number of Wallets: {{this.wallets}}</h5>
                </b-card>
              </div>
            </div>
          </transition>
        </div>
      </div>

      <content-footer></content-footer>
    </div>
  </div>
</template>


<script>
import ContentFooter from "../layout/dashboard/ContentFooter.vue";

export default {
  components: {
    ContentFooter
  },
  data: () => ({
    wallets: "",
    email: "",
    password: ""
  }),
  methods: {
    walletsNumber() {
      axios.get("/api/wallets").then(response => {
        this.wallets = response.data.wallets;
      });
    },
    formSubmit(e) {
      e.preventDefault();
      let currentObj = this;
      axios
        .post("/api/login", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          this.$store.commit("setToken", response.data.access_token);
          this.$store.commit("setUser", this.email);
          this.$router.push("/");
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  mounted() {
    this.$sidebar.displaySidebar(false);
    this.walletsNumber();
  }
};
</script>

<style lang="scss">
//.main-panel {
//  width: 100% !important;
//}
</style>