<template>
  <card class="card" title="Edit Profile">
    <div>
      <form @submit="formSubmit">
        <div class="row">
          <div class="col-12">
            <fg-input type="text" label="Name" placeholder="Name" v-model="new_name" autocomplete="username"></fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-12" v-if="hasNif">
            <fg-input type="text" label="NIF" placeholder="NIF" v-model="new_nif"></fg-input>
          </div>
        </div>

        <h4 class="card-title mt-3 mb-3">Change Password</h4>

        <div class="row">
          <div class="col-12">
            <fg-input
              type="password"
              label="Current Password"
              placeholder="Insert your current password"
              autocomplete="current-password"
              v-model="old_password"
            ></fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <fg-input
              type="password"
              label="New Password"
              placeholder="Insert your new password"
              autocomplete="new-password"
              v-model="new_password"
            ></fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <fg-input
              type="password"
              label="Confirm New Password"
              placeholder="Confirm your new password"
              autocomplete="new-password"
              v-model="repeat_new_password"
            ></fg-input>
          </div>
        </div>
        
        <div class="text-center">
          <p-button type="info" round @click.native.prevent="formSubmit">Update Profile</p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
export default {
  props:{
    name:{
      type: String,
      required: true
    },
    nif:{
      type: String
    },
    hasNif:{
      type: Boolean,
      required: true
    },
    
  },
  data: function() {
    return {
      new_name: this.name,
      new_nif: this.nif,
      old_password: "",
      new_password: "",
      repeat_new_password: ""
    };
  },
  methods: {
    updateProfile() {
      alert("Your data: " + JSON.stringify(this.user));
    },
    formSubmit(e) {
      e.preventDefault();
      let currentObj = this;
      axios
        .patch("/api/profile", {
          name: this.new_name,
          nif: this.new_nif,
          old_password: this.old_password,
          new_password: this.new_password,
          repeat_new_password: this.repeat_new_password
        })
        .then(response => {
          this.$emit('update:name', this.new_name);
          this.successToast(response.data.msg);
        })

        .catch(error => {
          this.errorToast(error);
        });
    },
    
  },
  mounted() {
  }
};
</script>
<style>
</style>
