<template>
  <card class="card-user">
    <div class="text-center" v-if="photo">
      <img class="avatar border-white" :src="'/storage/fotos/' + photo" alt="" />
    </div>
    <div>
      <div class="author mt-n4">
        <h4 class="title">
          {{name}}
          <br />
          <small>{{email}}</small>
        </h4>
      </div>
      <p class="description text-center">
        <b-button @click="$refs.fileInput.$el.querySelector('input[type=file]').click()">
          <i class="fa fa-photo"></i> Change Photo
        </b-button>
        <b-form-file v-model="photoFile" style="display:none;" ref="fileInput" />
        <!-- little trick to make button prettier https://stackoverflow.com/questions/54456751/vuejs-input-file-form -->
      </p>
    </div>
  </card>
</template>
<script>
export default {
  data() {
    return {
      photoFile: null,
      //    new_photo: null
    };
  },
  props: {
    name: {
      type: String,
      required: true
    },
    email: {
      type: String,
      required: true
    },
    photo: {
      type: String,
      required: true
    }
  },
  methods: {
    uploadPhoto() {
      //const file = new Blob([this.photo]);
      const formData = new FormData();
      formData.append("photo", this.photoFile, this.photoFile.filename);

      axios({
        method: "post",
        url: "/api/profile/photo",
        data: formData,
        headers: {
          "content-type": `multipart/form-data; boundary=${formData._boundary}`
        }
      })
        .then(response => {
          this.photo_new_link = response.data.filename;

          this.successToast(response.data.msg);
          this.$emit('update:photo', response.data.filename)
        })

        .catch(error => {
          this.errorToast(error);
        });
    }
  },
  watch: {
    photoFile: function(val) {
      if (val != null) {
        this.uploadPhoto();

        this.photoFile = null;
      }
    }
  }
};
</script>
<style>
</style>
